{% extends "master.html" %}
{% load static %}

{% block head_css %}
    <!-- Custom styles for this template 自定义修改 -->
    <link href="/static/home/css/carousel4contact.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/home/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- 表单的样式 -->
    <link rel="stylesheet" href="{% static 'users/css/signin.css' %}">
{% endblock %}

{% block nav_li %}
    {{ block.super }}
{% endblock %}

{% block carousel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-color: initial;">
            </div>
        </div>
    </div><!-- /.carousel -->
{% endblock %}

{% block wholecontents %}
    <div class="container">
        <div class="jumbotron">
            <h1>嗯??</h1>
            <p class="lead">这里是登录</p>
        </div>

        <!-- 登录表单 -->
        <div class="container">
            <form class="form-signin" action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">登录</h2>
{#                {{ form.non_field_errors }}#}
{#                <label for="{{ form.username.id_for_label }}">姓名：</label>#}
{#                {{ form.username }}#}
{#                {{ form.username.errors }}#}
{#                <label for="{{ form.password.id_for_label }}">密码：</label>#}
{#                {{ form.password }}#}
{#                {{ form.password.errors }}#}

                {% include 'snippet/form.html' %}

                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                <div style="margin-top: 10px">
                    没有账号？<a href="{% url 'users:register' %}">立即注册</a>
                </div>
                <div>
                    <a href="{% url 'password_reset' %}">忘记密码？</a>
                </div>
            </form>
        </div>

        {#        {% block footer %}#}
        {#            {{ block.super }}#}
        {#        {% endblock %}#}

    </div> <!-- /container -->
{% endblock %}

{% block tail_scripts %}
    <script src="{% static 'users/js/input_style.js' %}"></script>
{% endblock %}