{% extends "master.html" %}
{% load static %}

{% block head_css %}
    <!-- Custom styles for this template 自定义修改 -->
    <link href="/static/home/css/carousel4contact.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/home/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- 表单的样式 -->
    <link rel="stylesheet" href="{% static 'users/css/signin.css' %}">
{% endblock %}

{% block nav_li %}
    {{ block.super }}
{% endblock %}

{% block carousel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-color: initial;">
            </div>
        </div>
    </div><!-- /.carousel -->
{% endblock %}

{% block wholecontents %}
    <div class="container">
        <div class="jumbotron">
            <h1>嗯??</h1>
            <p class="lead">密码修改成功，点击返回<a href="{% url 'home:index' %}">首页</a>。</p>
        </div>


        {#        {% block footer %}#}
        {#            {{ block.super }}#}
        {#        {% endblock %}#}
    </div> <!-- /container -->
{% endblock %}

{% block tail_scripts %}
{% endblock %}