{% extends "master.html" %}
{% load static %}

{% block head_css %}
    <!-- Custom styles for this template 自定义修改 -->
    <link href="/static/home/css/carousel4contact.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/home/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- form表单的样式 -->
    <link rel="stylesheet" href="{% static 'users/css/signin.css' %}">

{% endblock %}

{% block nav_li %}
    {{ block.super }}
{% endblock %}

{% block carousel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-color: initial;">
            </div>
        </div>
    </div><!-- /.carousel -->
{% endblock %}

{% block wholecontents %}
    <div class="container">
{#        <div class="jumbotron">#}
        {#            <h1>嗯??</h1>#}
        {#            <p class="lead">这里是修改密码</p>#}
        {#        </div>#}

        <!-- 登录表单 -->
        <div class="container">
            <form class="form-signin" action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">修改密码</h2>
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                        <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5px">确认修改</button>
            </form>
        </div>

        {#        {% block footer %}#}
        {#            {{ block.super }}#}
        {#        {% endblock %}#}

    </div> <!-- /container -->
{% endblock %}

{% block tail_scripts %}
    <script src="{% static 'users/js/input_style.js' %}"></script>
{% endblock %}