{% load message_tags %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><b>最新留言</b></h3>
    </div>
    {% get_recent_messages limit=5 as recent_msgs %}
    {% for msg in recent_msgs %}
        <div class="panel-body" style="border-bottom: 1px solid #bce8f1">
            {{ msg.content }}
            <p>
                <i class="fa fa-user-o fa-1" aria-hidden="true"></i>
                <span>{{ msg.messager }}</span>&nbsp;&nbsp;&nbsp;
                <fk class="hottest">
                    <i class="fa fa-clock-o fa-1" aria-hidden="true"></i>
                    {{ msg.created_time|date:"Y-m-d H:i" }}&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>
                    {{ msg.favorites.count }}
                </fk>
            </p>
        </div>
    {% endfor %}
</div>